*{
    margin:0px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    user-select: none;
}

.grabBox{
    position:fixed;
    background:url("../doge.png") no-repeat;
    background-size:cover;
    height:50px;
    width:50px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    user-select: none;
    top:45%;
    left:45%;
}

#container{
    background-color:rgb(60,60,60);
    height:100%;
    width:100%;
}